@model IEnumerable<AppGestionEMS.Models.AsignacionDocentes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Curso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo.Grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Curso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo.Grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { curso = item.CursoId, grupo = item.GrupoId, user = item.UserId }) |
            @Html.ActionLink("Details", "Details", new { curso = item.CursoId, grupo = item.GrupoId, user = item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { curso = item.CursoId, grupo = item.GrupoId, user = item.UserId })
        </td>
    </tr>
}

</table>
